.canvas_container {
  position: relative; 
  border: 1px solid black;
}

.canvas_container .wrapper {
  border-left: 1px solid black;
  overflow-x: hidden;
  position: relative;
}

.canvas_container canvas {
  display: none;
}

.canvas_container .track_container {
  overflow: visible;
  position: relative;
  width: 0;
}

.canvas_container .track_container .image_container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #ccc repeat-y top left;
}

.canvas_container .track_container .image_container img {
  display: none;
}

.canvas_container .size_handle {
  float: right;
}

.canvas_container .size_handle div {
  font-size: 11px;
  color: #FFF;
  border: 1px solid #000;
  background-color: #667AA6;
  width: 12px;
  height: 12px;
  line-height: 11px;
  text-align: center;
  float: left;
  margin-right: 5px;
  border-radius: 12px;
  cursor: pointer;
}

.canvas_container .label_container {
  float: left;
  height: 100%;
}

.canvas_container .label_container .label {
  position: relative;
  margin-left: 5px;
  color: #000;
  font-size: 11px;
}

.canvas_container .menu_container {
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.canvas_container .menu_container .floating_popup {
  margin-top: 8px;
}