.canvas_container {
  position: relative; 
  border: 1px solid black;
}

.canvas_container .wrapper {
  border-left: 1px solid black;
  overflow-x: hidden;
  position: relative;
}

.canvas_container canvas {
  display: none;
}

.canvas_container .track_container {
  overflow: visible;
  position: relative;
  width: 0;
}

.canvas_container .track_container .image_container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #ccc repeat-y top left;
}

.canvas_container .track_container .image_container img {
  display: none;
}

.canvas_container .size_handle {
  float: right;
}

.canvas_container .size_handle div {
  font-size: 11px;
  color: #FFF;
  border: 1px solid #000;
  background-color: #667AA6;
  width: 12px;
  height: 12px;
  line-height: 11px;
  text-align: center;
  float: left;
  margin-right: 5px;
  border-radius: 12px;
  cursor: pointer;
}

.canvas_container .label_container {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.canvas_container .label_container .label {
  position: relative;
  padding: 0 5px;
  margin: 0;
  color: #000;
  font-size: 11px;
  list-style-image: none;
  cursor: pointer;
}

.canvas_zoom         { position: absolute; display: none; }
.canvas_zoom.i       { width: 40px; height: 40px; }
.canvas_zoom.o       { width: 80px; height: 80px; }
.canvas_zoom .h      { position: absolute; height: 2px;  width: 10px; background: red; }
.canvas_zoom .v      { position: absolute; height: 10px; width: 2px;  background: red; }
.canvas_zoom .r      { right:  0;    }
.canvas_zoom .b      { bottom: 0;    }
.canvas_zoom.o .t.h  { top:    10px; }
.canvas_zoom.o .b.h  { bottom: 10px; }
.canvas_zoom.o .l.v  { left:   8px;  }
.canvas_zoom.o .r.v  { right:  8px;  }

.canvas_container .menu_container {
  position: absolute;
  height: 100%;
  overflow: hidden;
}