.canvas_container {
  position: relative; 
  border: 1px solid black;
}

.canvas_container .wrapper {
  border-left: 1px solid black;
  overflow-x: hidden;
  position: relative;
}

.canvas_container canvas {
  display: none;
}

.canvas_container .track_container {
  overflow: visible;
  position: relative;
  width: 0;
}

.canvas_container .track_container .image_container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #ccc;
}

.canvas_container .track_container .image_container img {
  display: none;
}

.canvas_container p {
  position: absolute;
  margin-top: -10px;
  height: 10px;
  width: 100%;
  z-index: 10;
  background: red;
  cursor: pointer;
  display: none;
}

.canvas_container .label_container {
  float: left;
  height: 100%;
}

.canvas_container .label_container div {
  position: relative;
  margin-left: 5px;
  color: black;
}

.canvas_container .menu_container {
  position: absolute;
  height: 100%;
  overflow: hidden;
}