.genoverse_panel div {
  white-space: nowrap;
}

.genoverse_panel_top {
  height: 40px;
  background-color: #5F8CB0;
  background-image: linear-gradient(left, #5F8CB0, #4A7496); 
  border-radius: 5px 0 0 0;
  border: 1px solid #1C5380;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);        
  vertical-align: top;
}

.genoverse_panel_right {
  height: 100%;
  background-color: #5F8CB0;
  background-image: -webkit-linear-gradient(left, #5F8CB0, #4A7496);
  background-image: -moz-linear-gradient(left center, #5F8CB0, #4A7496);
  border-radius: 0 5px 5px 0;
  border: 1px solid #1C5380;
  border-left: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);        
  vertical-align: top;
}

.genoverse_panel button {
  background: none;
  border: none;
  border-bottom: 1px solid #1C5380;
  color: #E2E9EF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  width: 30px;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  padding: 2px;
  font-family: Tahoma;
}

.genoverse_panel button:only-child {
  width: 100%;
}

.genoverse_panel div.button_set>button:not(:first-child) {
  border-left: 1px solid #1C5380;
}

.genoverse_panel div.button_set:not(:first-child)>button {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.12) inset;        
}

.genoverse_panel div.button_set:last-child {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12);
}

.genoverse_panel button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  cursor: pointer;
}

.genoverse_panel button:active, .genoverse_panel button.active {
  border-top: none;
  background-color: rgba(6, 54, 95, 0.35);
  box-shadow: 0 0 1px rgba(6, 54, 95, 0.8) inset !important;        
}

.genoverse td {
  padding: 0;
  color: white;
}