.genoverse.gv-fullscreen {
  overflow-y: scroll;
}

.genoverse.gv-fullscreen table.gv {
  background: #FFF;
  margin-bottom: 0;
}

.genoverse.gv-fullscreen .gv-powered-by {
  display: none;
}

.gv-control-panel-plugin .gv-panel-right .gv-fullscreen-button .fa {
  border: 1px solid #FFF;
  padding: 5px;
  box-shadow: 0px 0px 1px #FFF inset, 0px 1px 3px rgba(0, 0, 0, 0.1), 2px 2px rgba(0, 0, 0, 0.2);
}