.genoverse_wrap {
  margin: 10px auto;
  width: 1000px;
}

.genoverse_canvas_container {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.genoverse_canvas_container .genoverse_wrapper {
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.genoverse_canvas_container .genoverse_wrapper .overlay {
  position: absolute;
  height: 100%;
  z-index: 10;
  background: url(../i/loadingBG.png) repeat #ccc;
}

.genoverse_canvas_container .genoverse_wrapper .overlay.track {
  background-position: center;
  background-repeat: repeat-x;
}

.genoverse_canvas_container canvas {
  display: none;
}

.genoverse_canvas_container .genoverse_track_container,
.genoverse_canvas_container .genoverse_track_container_static {
  overflow: visible;
  position: relative;
}

.genoverse_canvas_container .genoverse_track_container_legend {
  border-top: 1px solid #000000;
  margin-top: -1px;
  z-index: 1;
}

.genoverse_canvas_container .genoverse_track_container_static .image_container,
.genoverse_canvas_container .genoverse_track_container_static img {
  background: #FFF;
  z-index: 1;
}

.genoverse_track_container.genoverse_partially_hidden + .genoverse_track_container {
  box-shadow: 0 -4px 5px 2px rgba(0, 0, 0, 0.5);
}

.genoverse_canvas_container .genoverse_track_container .genoverse_scroll_container {
  overflow: visible;
  position: relative;
  width: 0;
  height: 100%;
}

.genoverse_canvas_container .genoverse_message_container { 
  position: absolute; 
  top: 0; 
  left: -1px; 
  display: none; 
  background: rgba(0, 0, 0, 0.5);
  color: #FFF; 
  border-radius: 0 0 2px 0;
  padding: 5px; 
  margin-bottom: 4px; 
  z-index: 11;
  font-family: Verdana; 
  font-size: 12px; 
  font-weight: bold;
}

.genoverse_canvas_container .genoverse_message_container:hover { 
  background: rgba(0, 0, 0, 0.7);
}

.genoverse_canvas_container .genoverse_message_container .genoverse_messages { 
  float: right; 
  padding-right: 10px; 
  padding-left: 15px; 
  margin-bottom: -6px; 
}

.genoverse_canvas_container .genoverse_message_container .genoverse_msg { 
  margin-bottom: 6px; 
}

.genoverse_canvas_container .genoverse_message_container .genoverse_msg a {
  color: #FFF;
  text-decoration: underline;
}

.genoverse_canvas_container .genoverse_message_container .control {
  position: absolute;
  height: 14px;
  font-size: 12px; 
  cursor: pointer; 
}

.genoverse_canvas_container .genoverse_message_container .control:hover      { text-decoration: underline; }
.genoverse_canvas_container .genoverse_message_container .genoverse_expand,
.genoverse_canvas_container .genoverse_message_container.genoverse_collapsed .genoverse_messages,
.genoverse_canvas_container .genoverse_message_container.genoverse_collapsed .genoverse_collapse { display: none; }
.genoverse_canvas_container .genoverse_message_container .genoverse_collapse           { display: inline; }
.genoverse_canvas_container .genoverse_message_container.genoverse_collapsed .genoverse_expand   { display: inline; position: relative; }

.genoverse_canvas_container .image_container {
  height: 100%;
  overflow-x: visible;
  overflow-y: hidden;
  position: absolute;
  margin: 0;
}

.genoverse_canvas_container .image_container.genoverse_fullHeight {
  overflow-y: visible;
}

.genoverse_canvas_container .image_container.genoverse_loading {
  background: rgba(204,204,204,0.4);
}

.genoverse_canvas_container .image_container img {
  position: absolute;
  z-index: 1;
}

.genoverse_canvas_container .image_container img.data {
  max-width: none;
}

.genoverse_canvas_container .image_container img.genoverse_bg {
  display: block;
  z-index: 0;
  width: 100%;
}

.genoverse_canvas_container .image_container img.genoverse_fullHeight {
  z-index: 0;
}

.genoverse_canvas_container .image_container img.guidelines {
  z-index: 1;
}

.genoverse_canvas_container .image_container img.genoverse_static {
  display: block;
  top: 50%;
}

.genoverse_canvas_container .genoverse_height_toggler {
  display: none;
}

.genoverse_canvas_container .genoverse_label_container {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #5F8CB0;
  background-image: -moz-linear-gradient(right center , #5F8CB0, #4A7496);
  background-image: -webkit-linear-gradient(right, #5F8CB0, #4A7496);
  border-radius: 5px 0 0 5px;
  border: 1px solid #1C5380;
  border-right: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  width: 100px;
}

.genoverse_canvas_container .genoverse_label_container li {
  position: relative;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-image: none;
  white-space: nowrap;
  overflow: hidden;
}

.genoverse_canvas_container .genoverse_label_container li .genoverse_handle {
  position: relative;
  background-image: url(../i/Grabbar.png);
  cursor: move;
  display: inline-block;
  height: 80%;
  top: 10%;
  width: 10px;
  opacity: 0.7;
}

li.genoverse_sortHandle {
  background-color: rgba(6, 54, 95, 0.35);
}

.genoverse_canvas_container .genoverse_label_container li:not(:first-child) {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12) inset, 0 -1px 0 #38688F inset
}

.genoverse_canvas_container .genoverse_label_container li .name {
  display: inline-block;
  position: relative; 
  overflow: hidden;
  vertical-align: top;
  margin: 8px 0;
  left: 5px; 
  width: 85%;
  color: #F2F5F7;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  text-overflow: ellipsis;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana;
  white-space: pre-wrap;
}

.genoverse_canvas_container .genoverse_label_container li.unsortable .name {
  left: 15px;
}

.genoverse_canvas_container .genoverse_menu_container {
  display: none;
  position: absolute;
  height: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.genoverse_track_container .genoverse_track_border,
.genoverse_track_container_static .genoverse_track_border {
  position: absolute;
  display: block;
  height: 1px;
  border-bottom: 1px solid #CCCCCC;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.genoverse_track_container.genoverse_fullHeight .genoverse_track_border,
.genoverse_track_container_static.genoverse_fullHeight .genoverse_track_border {
  border: none;
}

.genoverse_canvas_container .genoverse_track_container_legend .genoverse_track_border {
  border-color: #000;
}

.genoverse_canvas_container .genoverse_wrapper > :last-child.genoverse_track_container_legend .genoverse_track_border {
  display: none;
}

.genoverse_canvas_container .genoverse_expander {
  position: absolute;
  display: block;
  height: 15px;
  margin-left: -5px;
  padding-right: 10px;
  box-shadow: 0 -5px 7px -3px #000000 inset;
  cursor: pointer;
  z-index: 1;
  bottom: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.genoverse_canvas_container .genoverse_expander:hover {
  box-shadow: 0 -5px 7px -3px #7D98B8 inset;
}

.genoverse_canvas_zoom         { position: absolute; display: none; z-index: 20; }
.genoverse_canvas_zoom.i       { width: 40px; height: 40px; }
.genoverse_canvas_zoom.o       { width: 80px; height: 80px; }
.genoverse_canvas_zoom .h      { position: absolute; height: 2px;  width: 10px; background: red; }
.genoverse_canvas_zoom .v      { position: absolute; height: 10px; width: 2px;  background: red; }
.genoverse_canvas_zoom .r      { right:  0;    }
.genoverse_canvas_zoom .b      { bottom: 0;    }
.genoverse_canvas_zoom.o .t.h  { top:    10px; }
.genoverse_canvas_zoom.o .b.h  { bottom: 10px; }
.genoverse_canvas_zoom.o .l.v  { left:   8px;  }
.genoverse_canvas_zoom.o .r.v  { right:  8px;  }

.genoverse_menu {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 12px 12px 12px;
  color: white;
  min-width: 200px;
  padding: 0;
  position: absolute;
  z-index: 100;
  box-shadow: 3px 3px 10px #666666;
  margin-left: 5px;  
}

.genoverse_menu table td {
  color: white;
}

.genoverse_menu a {
  color: white;
}

.genoverse_menu table {
  color: white;
  font-family: monospace;
  font-size: 12px;
  padding: 10px;
  border: none;
}

.genoverse_menu table th, .genoverse_menu table td {
  color: white;
  padding: 0;
  border: none
}

.genoverse_menu table .title {
  padding-right: 20px;
  font-weight: bold;
  text-align: left;
}

.genoverse_menu:not(.genoverse_trackSelection) table td {
  padding: 0 1em 0 0;
}

.genoverse_menu .genoverse_close {
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  padding: 0 0 0 1px;
  margin: 3px;
  background-color: #CCCCCC;
  border-radius: 20px;
  line-height: 17px;
  font-size: 13px;
  font-family: Comic Sans MS;
  font-weight: bold;
  color: #2E2E2E;
  text-shadow: #F5F5F5 1px 1px 0;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

.genoverse_menu .genoverse_close:hover {
  background-color: #FFF;
  box-shadow: 0 0 5px #FFFFFF;
}

.genoverse_menu input {
  color: #000;
}

.genoverse_selector {
  position: absolute;
  display: none;
  height: 100%;
  border: 1px dashed red;
  background-color: rgba(229, 121, 5, 0.1);
  top: 0;
  margin-left: -1px;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.genoverse_selector.genoverse_crosshair {
  border-width: 0 0 0 1px;
}

.genoverse_selector_controls {
  display: none;
  width: 100px;
  position: relative;
  top: 50%;
}

.genoverse_selector_controls button {
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  box-shadow: 3px 3px 10px #666666;
  color: white;
  z-index: 11;
}
