@import url(font-awesome.css);

.genoverse {
  font-family: Verdana;
  font-size: 12px;
  position: relative;
}

.gv-canvas-container {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gv-canvas-container .gv-wrapper {
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.gv-canvas-container canvas {
  display: none;
}

.gv-canvas-container .gv-track-container,
.gv-canvas-container .gv-track-container-static {
  overflow: visible;
  position: relative;
}

.gv-canvas-container .gv-track-container-legend {
  border-top: 1px solid #000000;
  margin-top: -1px;
  z-index: 1;
}

.gv-canvas-container .gv-track-container-static .gv-image-container,
.gv-canvas-container .gv-track-container-static img {
  background: #FFF;
  z-index: 1;
}

.gv-canvas-container .gv-track-container .gv-scroll-container {
  overflow: visible;
  position: relative;
  width: 0;
  height: 100%;
}

.gv-canvas-container .gv-track-container .gv-scroll-container-offset {
  height: 100%;
  overflow: hidden;
  position: absolute;
  /*
    margin-left to be set in the track, with the gv-scroll-container being given a margin-left of -(this element's margin-left) to hide the first n pixels of the scroll container.
    Used to stop a track with a vertical scalebar at its left edge from displaying features on top of the scalebar
  */
}

.gv-canvas-container .gv-message-container {
  position: absolute;
  top: 0;
  left: -1px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  border-radius: 0 0 2px 0;
  padding: 5px;
  margin-bottom: 4px;
  z-index: 11;
  font-weight: bold;
}

.gv-canvas-container .gv-message-container:hover {
  background: rgba(0, 0, 0, 0.7);
}

.gv-canvas-container .gv-message-container .gv-messages {
  float: right;
  padding: 0 5px;
  margin-bottom: -6px;
}

.gv-canvas-container .gv-message-container .gv-msg {
  margin-bottom: 6px;
}

.gv-canvas-container .gv-message-container .gv-msg a {
  color: #FFF;
  text-decoration: underline;
}

.gv-canvas-container .gv-message-container .gv-control:hover { text-decoration: underline; }
.gv-canvas-container .gv-message-container .gv-expand,
.gv-canvas-container .gv-message-container.gv-collapsed .gv-messages,
.gv-canvas-container .gv-message-container.gv-collapsed .gv-collapse { display: none; }
.gv-canvas-container .gv-message-container.gv-collapsed .gv-expand   { display: inline; }

.gv-canvas-container .gv-image-container {
  height: 100%;
  overflow-x: visible;
  overflow-y: hidden;
  position: absolute;
  margin: 0;
}

.gv-canvas-container .gv-image-container.gv-full-height {
  overflow-y: visible;
}

.gv-canvas-container .gv-image-container.gv-loading {
  background: rgba(204,204,204,0.4);
}

.gv-canvas-container .gv-image-container.gv-invert {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  z-index: 1;
}

.gv-canvas-container .gv-image-container img {
  position: absolute;
  z-index: 1;
}

.gv-canvas-container .gv-image-container img.gv-data {
  max-width: none;
}

.gv-canvas-container .gv-image-container img.gv-bg {
  display: block;
  z-index: 0;
  width: 100%;
}

.gv-canvas-container .gv-image-container img.gv-full-height {
  z-index: 0;
}

.gv-canvas-container .gv-image-container img.gv-guidelines {
  z-index: 1;
}

.gv-canvas-container .gv-image-container img.gv-static {
  display: block;
  top: 50%;
}

.gv-label-container {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #5F8CB0;
  background-image: -moz-linear-gradient(right center, #5F8CB0, #4A7496);
  background-image: -webkit-linear-gradient(right, #5F8CB0, #4A7496);
  border-radius: 5px 0 0 5px;
  border: 1px solid #1C5380;
  border-right: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  width: 100px;
}

.gv-label-container li {
  position: relative;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-image: none;
  white-space: nowrap;
  overflow: hidden;
}

.gv-label-container li .gv-handle {
  float: left;
  position: relative;
  background-image: url(../i/sort_handle.png);
  cursor: move;
  display: inline-block;
  height: calc(100% - 20px);
  top: 10px;
  width: 10px;
  opacity: 0.7;
}

.gv-label-container li.ui-sortable-placeholder {
  background-color: #CFD4E7;
}

.gv-label-container li:not(:first-child) {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12) inset, 0 -1px 0 #38688F inset
}

.gv-label-container li .gv-name {
  float: left;
  position: absolute;
  overflow: hidden;
  margin: 8px 0;
  left: 15px;
  width: 85%;
  color: #F2F5F7;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  text-overflow: ellipsis;
  font-size: 11px;
  font-weight: bold;
  white-space: pre-wrap;
}

.gv-label-container li.gv-line-break .gv-name {
  text-overflow: inherit;
  word-spacing: 1000px;
}

.gv-track-container .gv-track-border,
.gv-track-container-static .gv-track-border {
  position: absolute;
  display: block;
  height: 1px;
  border-bottom: 1px solid #CCCCCC;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.gv-track-container.gv-full-height .gv-track-border,
.gv-track-container-static.gv-full-height .gv-track-border {
  border: none;
}

.gv-canvas-container .gv-track-container-legend .gv-track-border {
  border-color: #000;
}

.gv-canvas-container .gv-wrapper > :last-child.gv-track-container-legend .gv-track-border,
.gv-canvas-container .gv-wrapper > :last-child.gv-track-super-container > :last-child.gv-track-container-legend .gv-track-border {
  display: none;
}

.gv-canvas-container .gv-expander {
  position: absolute;
  display: block;
  height: 15px;
  margin-left: -5px;
  padding-right: 10px;
  box-shadow: 0 -5px 7px -3px #000000 inset;
  cursor: pointer;
  z-index: 1;
  bottom: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.gv-canvas-container .gv-expander:hover {
  box-shadow: 0 -5px 7px -3px #7D98B8 inset;
}

.gv-canvas-zoom                 { position: absolute; display: none; z-index: 20; }
.gv-canvas-zoom.gv-i            { width: 40px; height: 40px; }
.gv-canvas-zoom.gv-o            { width: 80px; height: 80px; }
.gv-canvas-zoom .gv-h           { position: absolute; height: 2px;  width: 10px; background: red; }
.gv-canvas-zoom .gv-v           { position: absolute; height: 10px; width: 2px;  background: red; }
.gv-canvas-zoom .gv-r           { right:  0;    }
.gv-canvas-zoom .gv-b           { bottom: 0;    }
.gv-canvas-zoom.gv-o .gv-t.gv-h { top:    10px; }
.gv-canvas-zoom.gv-o .gv-b.gv-h { bottom: 10px; }
.gv-canvas-zoom.gv-o .gv-l.gv-v { left:   8px;  }
.gv-canvas-zoom.gv-o .gv-r.gv-v { right:  8px;  }

.gv-menu {
  color: white;
  background-color: #5F8CB0;
  border-radius: 0px 12px 12px 12px;
  min-width: 200px;
  padding: 0;
  position: absolute;
  z-index: 1001;
  box-shadow: 3px 3px 10px #666666;
  margin-left: 5px;
}

.gv-menu .gv-menu-loading {
  display: none;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.gv-menu .gv-menu-content {
  font-size: 11px;
}

.gv-menu .gv-menu-content a {
  color: white;
}

.gv-menu .gv-menu-content table {
  border: none;
  border-spacing: 0;
  margin: 10px;
}

.gv-menu .gv-menu-content table th,
.gv-menu .gv-menu-content table td {
  color: #FFF;
  padding: 0 1em 0 0;
  border: none;
  text-align: left;
  vertical-align: top;
  max-width: 32em;
}

.gv-menu .gv-menu-content .gv-title {
  font-weight: bold;
  padding: 5px 10px 0 10px;
  margin-bottom: 5px;
}

.gv-menu .gv-menu-content-first .gv-title {
  background: rgba(6, 54, 95, 0.35);
  border-radius: 0 12px 0 0;
  padding: 5px 30px 5px 10px;
  line-height: normal;
}

.gv-menu .gv-menu-content .gv-focus,
.gv-menu .gv-menu-content .gv-highlight {
  margin: 5px 10px;
  white-space: nowrap;
}

.gv-menu.gv-wrap-values .gv-menu-content table td:last-child {
  word-break: break-word;
}

.gv-menu .gv-menu-button {
  color: #FFF;
  cursor: pointer;
}

.gv-menu .gv-close {
  position: absolute;
  right: 0;
  font-size: 18px;
  padding: 3px 5px;
}

.gv-menu .gv-menu-content input {
  color: #000;
}

.gv-menu .gv-menu-content .gv-menu-scroll-wrapper {
  max-height: 300px;
  overflow-y: auto;
  margin: 10px 10px 10px 0;
}

.gv-menu .gv-menu-content .gv-menu-scroll-wrapper table {
  margin: 0 10px;
}

.gv-selector {
  position: absolute;
  display: none;
  height: 100%;
  border: 1px dashed red;
  background-color: rgba(229, 121, 5, 0.1);
  top: 0;
  margin-left: -1px;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.gv-selector.gv-crosshair {
  border-width: 0 0 0 1px;
}

.gv-selector-controls {
  display: none;
  width: 100px;
  position: relative;
  top: 50%;
  height: auto !important;
  text-align: center;
  border-radius: 5px;
}

.gv-selector-controls > :first-child {
  border-bottom: 1px solid #1C5380;
  background-color: rgba(6, 54, 95, 0.35);
}

.gv-selector-controls > :last-child button {
  border-bottom: 0 !important;
}

.gv-selector-controls button {
  display: block;
  width: 100% !important;
  cursor: pointer;
  color: white;
  z-index: 11;
  font-size: 12px !important;
  font-weight: bold;
  height: auto !important;
  line-height: 16px !important;
}

.gv-selector-controls .gv-position {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  border-bottom: 0;
  padding-top: 4px;
  position: relative;
  height: 2em;
  box-sizing: content-box;
}

.gv-selector-controls .gv-position .gv-chr,
.gv-selector-controls .gv-position .gv-start-end {
  display: inline-block;
}

.gv-selector-controls .gv-position .gv-chr {
  font-size: 130%;
  margin-right: 5px;
}

.gv-selector-controls .gv-position .gv-start,
.gv-selector-controls .gv-position .gv-end {
  font-size: 75%;
  line-height: 1em;
}

.gv-canvas-container .gv-track-container canvas.gv-barchart-axis,
.gv-canvas-container .gv-track-container canvas.gv-barchart-guide {
  display: block!important;
  height: auto;
  bottom: 0;
  z-index: 1;
}

.gv-hide {
  display: none!important;
}
