.gv-hover-labels-plugin .gv-label-container li .gv-name {
  background: rgba(0,0,0,0.7);
  height: 30px;
  padding: 5px;
  margin: 0;
  left: 10px;
  position: absolute;
  width: 150px;
  z-index: 1000;
}
