.genoverse_canvas_container .genoverse_label_container {
  /*width: 20px;*/
}

.genoverse_canvas_container .genoverse_label_container li {
  /*overflow: visible;*/
}

.genoverse_canvas_container .genoverse_label_container li .genoverse_name {
  background: rgba(0,0,0,0.7);
  height: 30px;
  padding: 5px;
  margin: 0;
  left: 10px;
  position: absolute;
  width: 150px;
  z-index: 1000;
}
