body.dragging * { 
  cursor: n-resize!important; 
}

div.genoverse_resizer { 
  position: absolute!important; 
  bottom: 0; 
  opacity: 0.8; 
  /*background-color: #F0F0F0; */
  height: 5px; 
  cursor: n-resize; 
  z-index: 2; 
}

.genoverse_canvas_container .genoverse_resizer.shadow {
  box-shadow: 0 -3px 5px 0 #000000; 
  margin-left: -5px; 
  padding-right: 10px; 
}

.genoverse_canvas_container .genoverse_resizer .genoverse_handle { 
  background-color: #5A5A5A; 
  border: 1px solid white; 
  border-width: 1px 0; 
  height: 1px;
  margin: 1px 48%; 
  width: 4%; 
}

.genoverse_canvas_container .genoverse_resizer.shadow .genoverse_handle { 
  position: relative; 
  left: 5px 
}

.genoverse_canvas_container .genoverse_resizer:hover, .genoverse_canvas_container .genoverse_resizer.ui-draggable-dragging { 
  box-shadow: -1px -3px 6px -3px #000000 inset !important;
}
