body {
  font-family: Verdana, Tahoma, Lucida Console, monospace;
  margin: 0;
}

.wrap {
  margin: auto;
  width: 1000px;
}

.canvas_container .label_container li .name {
  font-weight: bold;
}

.top {
  top: 0;
  width: 100%;
  background-color: rgba(72,72,72,1);
  color: white;
  padding: 0.5em;
  text-align: center;
}

.top .label {
  font: 1.2em Arial;
  color:#F0F0F0;
  text-shadow: 0 -1px 0 #181818;
  margin-left: 1em;
}

.top .search {
  box-shadow: 0 1px 0 #434343;
  background: #000;
  border-radius:2px;
  border:1px solid #0c0c0c;
  display:inline-block;
  color:#FFF;
  font: bold 1em Arial;
  text-decoration:none;
  text-shadow: 0 -1px 0 #181818;
  padding: 0.5em;
  height: 2em;    
  width: 20em;
  opacity: 0.6;
}

.top .search:focus  {
  opacity: 1;
}

button {
  box-shadow:inset 0px 1px 0px 0px #676767,
  0 1px 0 #434343;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #494949), color-stop(1, #393939) );
  background:-moz-linear-gradient( center top, #494949 5%, #393939 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#393939');
  background-color:#494949;
  border-radius:5px;
  border:1px solid #0c0c0c;
  display:inline-block;
  color:#b7b7b7;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Verdana, Tahoma, Trebuchet MS, Arial, Lucida Console;
  text-decoration:none;
  text-shadow: 0 -1px 0 #181818;
  width: 2em;
  height: 2em;
  padding-bottom: 0.2em;
}

button:hover {
  background-color:#393939;
  color:#E8E8E8;
  box-shadow:inset 0px 1px 0px 0px #676767,
  0 1px 0 #434343,
  inset 0 0 1px 1px #4B4B4B;
}

button:active, button.active {
  background: #1B1B1B;
  box-shadow: 0 1px 0 #434343;
  color:#FFF;
}

button.left-neighbour {
  border-radius: 5px 0 0 5px;
  border-right: none;
}

button.right-neighbour {
  border-radius: 0 5px 5px 0;
}

.wrap {
  margin-top: 2em;
}