.gv-track-controls-plugin .gv-track-container div.gv-track-controls {
  display: block;
  white-space: nowrap;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 2px;
  color: white;
  float: right;
  text-align: right;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0;
  z-index: 5;
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls:hover {
  background: rgba(0, 0, 0, 0.7);
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls > * {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls a {
  color: white;
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls a:hover {
  text-decoration: underline;
}

.gv-track-controls-plugin .gv-track-container:hover > div.gv-track-controls {
  display: block;
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-hidden {
  display: none!important;
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle {
  background: url(../i/auto_height.png) center 1px no-repeat;
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle.gv-auto-height {
  background-position: center -17px;
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls select,
.gv-track-controls-plugin .gv-track-container div.gv-track-controls input,
.gv-track-controls-plugin .gv-track-container div.gv-track-controls button,
.gv-track-controls-plugin .gv-track-container div.gv-track-controls textarea {
  color: #333;
  font-weight: normal;
}

.gv-track-controls-plugin .gv-track-container div.gv-track-controls select {
  width: auto;
  margin: 0 5px;
}