.gvm-track-controls-plugin .gv-track-container div.gv-track-controls {
  display: block;
  white-space: nowrap;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 2px;
  color: white;
  float: right;
  text-align: right;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0;
  z-index: 5;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls:hover {
  background: rgba(0, 0, 0, 0.7);
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls .gv-track-controls-container {
  display: none;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls.gv-maximized .gv-track-controls-container {
  display: inline-block;
  border-right: 1px solid white;
  padding-right: 5px;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls .gv-track-controls-container > * {
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a {
  color: white;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a:hover {
  text-decoration: underline;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.far:hover,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.fas:hover {
  text-decoration: none;
}

.gvm-track-controls-plugin .gv-track-container:hover > div.gv-track-controls {
  display: block;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-track-controls-toggle {
  padding-left: 5px;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls.gv-maximized a.gv-track-controls-toggle {
  padding: 0 5px 0 10px;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-track-controls-toggle .far,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-track-controls-toggle .fas {
  margin-right: 5px;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls:not(.gv-maximized) a.gv-track-controls-toggle > :last-child,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls.gv-maximized       a.gv-track-controls-toggle > :first-child {
  display: none;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle {
  position: relative;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle .fa-sort-up,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle .fa-sort-down,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle.gv-auto-height .fa-sort {
  display: none;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle.gv-auto-height .fa-sort-up,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle.gv-auto-height .fa-sort-down {
  display: inline-block;
  position: absolute;
  left: 6px;
  top: -4px;
}
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls a.gv-height-toggle.gv-auto-height .fa-sort-down {
  top: -15px;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls select,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls input,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls button,
.gvm-track-controls-plugin .gv-track-container div.gv-track-controls textarea {
  color: #333;
  font-weight: normal;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls select {
  margin: 0 5px;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls label {
  margin: 0 0 0 5px;
}

.gvm-track-controls-plugin .gv-track-container div.gv-track-controls .gv-track-controls-container > :first-child:not(select):not(label) {
  margin-left: 5px;
}
