.gv_menu {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px 0px 12px 12px;
  min-width: 150px;
}


.gv_menu table {
  width: 50%;
  float: left;
}


.gv_menu .close {
  float: left;
}
 




@media print {
    body, .contents, .header, .contentsarea, .head {
        position: relative;
    }
}

.inlinetab {
    display: inline-table;
}

.blocktab {
    display: block;
    margin:2px 2px 2px 2px;
}

.indic {
    display: table-cell;
    margin:0px 0px 0px 5px;
    width:16px;
    height: 16px;
    vertical-align: middle;
}

.legendlabel {
    display: inline;
    padding-left: 2px;
}

.cellwideinput {
    display: table-cell;
    width:160px;
}

.cellinput {
    display: table-cell;
}

.fset {
    border:1px solid #aaa;
    border-radius: 5px;
    padding:0 0 0 0;
    margin:10px;
    white-space:nowrap;
    float: left;
    width:1350px;
}

legend {
    margin:8px 8px 8px 8px;
    white-space:nowrap;
}

td {
    border:0px solid #aaa;
    background-color:rgba(0,0,0,0);
    padding:0 0 0 0;
    margin:0 0 0 0;
}

table {
    border:0px solid #aaa;
    background-color:rgba(0,0,0,0);
    padding:0 0 0 0;
    margin:0 0 0 10px;
}

tbody {
    border:0px solid #aaa;
    background-color:rgba(0,0,0,0);
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.resultbox {
    border:1px solid #aaa;
    border-radius: 5px;
    width:100%;
    padding:10px;
    margin:10px 0 10px 0;
    white-space:nowrap;
    height: 40px;
}

.genoverse {
    white-space:nowrap;
    float: left;
    width:1350px;
}
